# **Exercise 1:**
Write a program that removes the first, third and fourth number from a list if they
 are there.
 Example 1:<br>
 my_lst = [1,2,3,4,5,6]<br>
 Output:<br>
 The new list is: [2,5,6]<br>
 Example 2:<br>
 my_lst = [1,2,3]<br>
 Output:<br>
 The new list is: [2]

In [9]:
my_lst1 = [1, 2, 3, 4, 5, 6]
my_lst1.remove(1)
my_lst1.remove(3)
my_lst1.remove(4)
print("The new list is", my_lst1)

my_lst2 = [1, 2, 3]
my_lst2.remove(1)
my_lst2.remove(3)
print("The new list is", my_lst2)

The new list is [2, 5, 6]
The new list is [2]

 # **Exercise 2:** 
 Write a program that combines two tuples into one tuple.<br>
 Example 1:<br>
 tuple_1 = (1,2,3)<br>
 tuple_2 = (4,5,6)<br>
 Output:<br>
 The new tuple is: (1,2,3,4,5,6)<br>
 Example 2:<br>
 tuple_1 = (2,3,7,4)<br>
 tuple_2 = (7,1)<br>
 Output:<br>
 The new tuple is: (2,3,7,4,7,1)

In [11]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
print("The new tuple is", tuple_1 + tuple_2)

tuple_1 = (2, 3, 7, 4)
tuple_2 = (7, 1)
print("The new tuple is", tuple_1 + tuple_2)

The new tuple is (1, 2, 3, 4, 5, 6)
The new tuple is (2, 3, 7, 4, 7, 1)

 # **Exercise 3.1:** 
 Write a program that takes a list and split it into two tuples of the same size.<br>
 Example 1:<br>
 my_lst = [6,2,7,4,3]<br>
 Output:<br>
 Tuple 1 is: (6,2,7)<br>
 Tuple 2 is: (4,3)<br>
 Example 2:<br>
 my_lst = [‘a’, ‘b’, ‘c’, 1, 2, 3, 4, ‘d’, 5, “hello”]<br>
 Output:<br>
 Tuple 1 is: (‘a’, ‘b’, ‘c’, 1, 2)<br>
 Tuple 2 is: (3, 4, ‘d’, 5, “hello”)

In [35]:
my_lst = [6,2,7,4,3]
tuple1 = tuple(my_lst[0:3])
tuple2 = tuple(my_lst[3:])
print("Tuple 1 is:", tuple1, "\nTuple 2 is: ", tuple2)

my_lst = ['a', 'b', 'c', 1, 2, 3, 4, 'd', 5, 'hello']
tuple1 = tuple(my_lst[0:4])
tuple2 = tuple(my_lst[4:])
print("Tuple 1 is:", tuple1, "\nTuple 2 is: ", tuple2)

Tuple 1 is: (6, 2, 7)
Tuple 2 is:  (4, 3)
Tuple 1 is: ('a', 'b', 'c', 1)
Tuple 2 is:  (2, 3, 4, 'd', 5, 'hello')

 # **Exercise 3.2:** 
 Alternate the elements between the two tuples(tuple 1 has elements with<br>
 index (0,2,4,6,8, etc.) tuple 2 has elements with index (1,3,5,7,9, etc.))<br>
 Example 1:<br>
 my_lst = [6,2,7,4,3]<br>
 Output:<br>
 Tuple 1 is: [6,7,3]<br>
 Tuple 2 is: [2,4]<br>
 Example 2:<br>
 my_lst = [‘a’, ‘b’, ‘c’, 1, 2, 3, 4, ‘d’, 5, “hello”]<br>
 Output:<br>
 Tuple 1 is: [‘a’, ‘c’, 2, 4, 5]<br>
 Tuple 2 is: [‘b’, 1, 3, ‘d’, “hello”]

In [40]:
my_lst = ['Toyota', 'BMW', 'Peugeot', 'Audi', 'Seat', 'Mercedes', 'Skoda', 'Volvo', 'Ford', 'Kia']
tuple1 = tuple(my_lst[0:9:2])
tuple2 = tuple(my_lst[1:9:2])
print('Tuple1 is:', tuple1, '\nTuple2 is:' , tuple2)

Tuple1 is: ('Toyota', 'Peugeot', 'Seat', 'Skoda', 'Ford')
Tuple2 is: ('BMW', 'Audi', 'Mercedes', 'Volvo')

 # **Exercise 4:** 
 Write a program that has a list containing 5 tuples that each have 2 numbers.<br>
 Sort the list in ascending order of the last number in each tuple.<br>
 Example 1:<br>
 Example 2:<br>
 my_lst = [(3,2), (3,1), (4,3), (3,4), (3,5)]<br>
 Output:<br>
 The ordered list is: [(3,1), (3,2), (4,3), (3,4),
 (3,5)]<br>
 my_lst = [(5,2), (6,1), (4,2), (3,4), (7,5)]<br>
 Output:<br>
 The ordered list is: [(6,1), (5,2), (4,2), (3,4),
 (7,5)]

In [51]:
my_lst = [(3,2), (3,1), (4,3), (3,4), (3,5)]
my_lst.sort()
print('The ordered list is:', my_lst)

my_lst = [(5,2), (6,1), (4,2), (3,4), (7,5)]
my_lst.sort(reverse = True)
print('The ordered list is:', my_lst)

The ordered list is: [(3, 1), (3, 2), (3, 4), (3, 5), (4, 3)]
The ordered list is: [(7, 5), (6, 1), (5, 2), (4, 2), (3, 4)]

# **Exercise 5.1:** 
Write a program that calculates the average of a list containing 5 elements.<br>
 Example 1:<br>
 my_lst = [2, 2, 3, 3, 4]<br>
 Output:<br>
 The average is 2.8<br>
 Example 2:<br>
 my_lst = [7, 7, 2, 2, 3]<br>
 Output:<br>
 The average is 4.2

In [55]:
my_lst = [2, 2, 3, 3, 4,]
total_lst = sum(my_lst)
average = total_lst / len(my_lst)
print('The average is :', average)

my_lst = [7, 7, 2, 2, 3]
total_lst = sum(my_lst)
average = total_lst / len(my_lst)
print('The average is :', average)

The average is : 2.8
The average is : 4.2

 # **Exercise 5.2:** 
 Add a number to the list that turns the average into 5.<br>
 Example 1:<br>
 my_lst = [2, 2, 3, 3, 4]<br>
 Output:<br>
 The average was 2.8<br>
 Added 16, new list is [2, 2, 3, 3, 4, 16]<br>
 The average is now 5<br>
 Example 2:<br>
 my_lst = [7, 7, 2, 2, 3]<br>
 Output:<br>
 The average is 4.2<br>
 Added 9, new list is [7, 7, 2, 2, 3, 9]<br>
 The average is now 5

In [65]:
my_lst = [2, 2, 3, 3, 4,]
total_lst = sum(my_lst)
average = total_lst / len(my_lst)
print('The average was :', average,)

new_lst = my_lst.append(16)
total_lst = sum(my_lst)
average = total_lst / len(my_lst)
print('Added 16, new list is :', my_lst )
print('The average is now :', average)


my_lst = [7, 7, 2, 2, 3]
total_lst = sum(my_lst)
average = total_lst / len(my_lst)
print('The average was :', average)

new_lst = my_lst.append(9)
total_lst = sum(my_lst) 
average = total_lst / len(my_lst)
print('Added 9, new list is:', my_lst , '\nTheaverage is now:', average)

The average was : 2.8
Added 16, new list is : [2, 2, 3, 3, 4, 16]
The average is now : 5.0
The average was : 4.2
Added 9, new list is: [7, 7, 2, 2, 3, 9]
Theaverage is now: 5.0

# **Exercise 6:**  
A 2D list is a list that contains multiple lists. This is often used to depict<br>
 coordinates (x and y). Here is a 2D list of size 4 by 4 that contains only the number 1.<br>
 [[1, 1, 1, 1],<br>
 [1 ,1 ,1 ,1],<br>
 [1 ,1 ,1 ,1],<br>
 [1 ,1 ,1 ,1]]<br>
 Create a 2D list of size 6 by 6 containing only 3’s in 2 lines of code. Don’t use for-loops and
 keep to the PEP 8. Print the list.<br>
 Example:<br>
 Output:<br>
 [[3, 3, 3, 3, 3, 3], [3, 3, 3, 3, 3, 3], [3, 3, 3, 3, 3, 3], [3, 3, 3, 3, 3, 3], [3, 3, 3, 3, 3, 3], [3, 3, 3, 3,
 3, 3]]